from __future__ import annotations

import pydantic
import datetime
import asyncio
import typing

from pydantic import BaseModel

from {{ package_api_lib_module_name }}.base import BaseApi
from {{ package_api_lib_module_name }}.request import ApiRequest
